* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.wrapper {
    width: 620px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px 30px;
}

.wrapper__head {
    border-bottom: 1px dashed gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.wrapper__head__title {
    background-color: orange;
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper__head__sub-title {
    font-size: 18px;
    padding: 10px 0px;
}

#point {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: orange;
    margin-top: 15px;
    display: block;
}

.wrapper__body {
    border: 1px solid #DDDDDD;
    padding: 20px 30px;
}

.contents__title {
    font-size: 18px;
    font-weight: 600;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.kimchi {
    color: red;
    font-weight: 600;
}

.egg {
    color: orange;
    font-weight: 600;
}

.highlight {
    font-size: 22px;
    color: blue;
    font-weight: 700;
    font-style: italic;
}

.contents__date {
    color: #919191;
    font-size: 14px;
    text-align: end;
}

.header {
    border-bottom: 1px solid gray;
}

.header__inner {
    width: 900px;
    height: 100px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 100px;
    height: 80px;
    padding-top: 17px;
}

.logo h1 a {
    text-decoration: none;
    color: orange;
}

.menu {
    float: left;
    width: calc(100% - 200px);
    height: 80px;
    text-align: center;
}

.menu__ul {
    display: inline-block;
}

.menu__ul li {
    float: left;
    list-style: none;
}

.menu__ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 29px  20px;
}

.menu__ul li a:hover {
    color: orange;
}

.user {
    float: left;
    width: 100px;
    height: 80px;
    padding-top: 23px;
}

.clearfix {
    clear: both;
}